<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}SummitMC F2{% endblock %}</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />

        <!-- CSS Dependencies -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/main-style.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='fontawesome-free-6.5.1-web/css/solid.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='fontawesome-free-6.5.1-web/css/all.css') }}" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/beercss@3.7.12/dist/cdn/beer.min.css" rel="stylesheet" />
        <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" />
        <link rel="preload" href="{{ url_for('static', filename='fonts/Minecraft-Bold.woff2') }}" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="{{ url_for('static', filename='fonts/Minecraft-Regular.woff2') }}" as="font" type="font/woff2" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Inline+Display:wght@100..900&family=Big+Shoulders+Inline+Text:wght@100..900&family=Blaka+Ink&family=Cinzel+Decorative:wght@400;700;900&family=Courgette&family=Dorsa&family=Eater&family=Federo&family=Germania+One&family=Jacquard+12&family=Jacquard+12+Charted&family=Jacquard+24&family=Jacquard+24+Charted&family=Jacquarda+Bastarda+9&family=Kalnia+Glaze:wght@100..700&family=Kranky&family=Libre+Barcode+128+Text&family=Libre+Barcode+39+Text&family=Linefont:wght@4..1000&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=New+Rocker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Redacted+Script:wght@300;400;700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Beastly&family=UnifrakturMaguntia&display=swap"
            rel="stylesheet"
        />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}" />
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}" />
        <link rel="manifest" href="{{ url_for('static', filename='f2.webmanifest') }}" />

        <!-- Discord Meta Tags -->
        {% block meta_tags %} {% if image_filename is defined %}
        <meta content="{{ url_for('static', filename='images/' + image_filename) }}" property="og:image" />
        <meta content="Summit F2 - {{ image_filename }}" property="og:title" />
        {% else %}
        <meta content="https://i.imgur.com/hxsaduN.jpeg" property="og:image" />
        <meta content="Summit F2" property="og:title" />
        {% endif %}
        <meta content="https://f2.summitmc.xyz/" property="og:url" />
        <meta content="Summit F2 Is A Screenshot Sharing Website" property="og:description" />
        <meta content="#8dbdc4" data-react-helmet="true" name="theme-color" />
        <meta name="twitter:card" content="{% if image_filename is defined %}{{ url_for('static', filename='images/' + image_filename) }}{% else %}https://i.imgur.com/hxsaduN.jpeg{% endif %}" />
        {% endblock %}
    </head>
    <body class="dark">
        <header class="site-header">
            <nav class="header-nav">
              <!-- Left: Logo -->
              <div class="logo-container">
                <!-- Home Button -->
                <a
                  href="{{ url_for('index') }}"
                  class="no-highlight small-padding small-margin"
                >
                  <h6 class="styled_font_4 center-align middle-align">
                    F2
                  </h6>
                </a>
              </div>
          
              <!-- Hamburger Menu Button (VISIBLE ONLY ON MOBILE) -->
              <button class="hamburger styled_font_4" id="hamburger">
                <span></span>
                <span></span>
                <span></span>
              </button>
          
              <!-- Right: Links Container -->
              <div class="links-container">
                <!-- If user is logged in -->
                {% if 'discord_id' in session %}
                <img
                  src="{{ get_discord_avatar_url(session['discord_id'], session.get('avatar')) }}"
                  alt="Avatar"
                  class="avatar"
                />
                <span class="styled_font_2 text-fit-content">{{ session['discord_username'] }}</span>
                <span class="spacer_lr">
                  <a href="{{ url_for('upload') }}" class="btn_better_alt_mobile round large small-padding">
                    <i class="rounded-0 solid_1 show-overflow">upload</i>
                    <p class="login_text_mobile solid_1">Upload</p>
                  </a>
                </span>
                <span class="spacer_lr">
                  <a onclick="toggleParticles()" class="btn_better_alt_mobile round large small-padding">
                    <i class="fa-solid fa-hand-sparkles rounded-0 solid_1 show-overflow"></i>
                    <p class="login_text_mobile solid_1">Toggle Particles</p>
                  </a>
                </span>
                <span class="end-of-row-admin spacer_lr">
                  <a
                    href="{{ url_for('admin_dashboard') }}"
                    class="btn_better_alt_mobile round large small-padding"
                  >
                    <i class="rounded-0 solid_1">admin_panel_settings</i>
                    <p class="login_text_mobile solid_1">Admin Panel</p>
                  </a>
                </span>
                <span class="end-of-row spacer_lr">
                  <a href="{{ url_for('logout') }}" class="btn_better_alt_mobile round large small-padding">
                    <i class="rounded-0 solid_1">logout</i>
                    <p class="login_text_mobile solid_1">Logout</p>
                  </a>
                </span>
          
                <!-- If guest -->
                {% elif 'guest_id' in session %}
                <span class="styled_font_2 text-fit-content">{{ session.guest_username }}</span>
                <span class="spacer_lr">
                  <a href="{{ url_for('login') }}" class="btn_better_dsc_mobile round large small-padding">
                    <i class="fab fa-discord rounded-0 solid_2 show-overflow"></i>
                    <p class="login_text_mobile solid_1">Login With</p>
                  </a>
                </span>
                <span class="spacer_lr">
                  <a href="{{ url_for('upload') }}" class="btn_better_alt_mobile round large small-padding">
                    <i class="rounded-0 solid_1 show-overflow">upload</i>
                    <p class="login_text_mobile solid_1">Upload</p>
                  </a>
                </span>
                <span class="spacer_lr">
                  <a onclick="toggleParticles()" class="btn_better_alt_mobile round large small-padding">
                    <i class="fa-solid fa-hand-sparkles rounded-0 solid_1 show-overflow"></i>
                    <p class="login_text_mobile solid_1">Toggle Particles</p>
                  </a>
                </span>
          
                <!-- Otherwise not logged in -->
                {% else %}
                <span class="spacer_lr">
                  <a href="{{ url_for('login') }}" class="btn_better_dsc round large small-padding">
                    <p class="login_text solid_2">Login With</p>
                    <i class="fab fa-discord rounded-0 solid_2 show-overflow"></i>
                  </a>
                </span>
                {% endif %}
              </div>
            </nav>
          </header>
          <!-- MOBILE ONLY -->
          <nav class="s m right links-container_mobile" id="nav-menu">
            <header>
              {# If a Discord user is logged in, show their avatar; otherwise, use the default favicon #}
              {% if 'discord_id' in session %}
                <img class="circle" src="{{ get_discord_avatar_url(session['discord_id'], session.get('avatar')) }}">
                <span class="styled_font_2 text-fit-content">{{ session['discord_username'] }}</span>
              {% else %}
                <img class="circle" src="{{ url_for('static', filename='default-user-profile.jpg') }}">
              {% endif %}
            </header>
            <div class="flex row wrap stay_aligned">
            {% if 'discord_id' in session %}
              {# Logged-in user links #}
              <span>
                <a href="{{ url_for('upload') }}" class="btn_better_alt_mobile round large small-padding">
                  <i class="rounded-0 solid_1 show-overflow">upload</i>
                  <p class="login_text_mobile solid_1">Upload</p>
                </a>
              </span>
              <span>
                <a href="{{ url_for('logout') }}" class="btn_better_alt_mobile round large small-padding">
                  <i class="rounded-0 solid_1">logout</i>
                  <p class="login_text_mobile solid_1">Logout</p>
                </a>
              </span>
              <span>
                <a
                  href="{{ url_for('admin_dashboard') }}"
                  class="btn_better_alt_mobile round large small-padding"
                >
                  <i class="rounded-0 solid_1">admin_panel_settings</i>
                  <p class="login_text_mobile solid_1">Admin Panel</p>
                </a>
              </span>
              <span>
                <a onclick="toggleParticles()" class="btn_better_alt_mobile round large small-padding">
                  <i class="fa-solid fa-hand-sparkles rounded-0 solid_1 show-overflow"></i>
                  <p class="login_text_mobile solid_1">Toggle Particles</p>
                </a>
              </span>
            {% elif 'guest_id' in session %}
              {# Guest user links #}
                <span class="styled_font_2 text-fit-content">{{ session.guest_username }}</span>
                <span>
                  <a href="{{ url_for('login') }}" class="btn_better_dsc_mobile round large small-padding">
                    <i class="fab fa-discord rounded-0 solid_2 show-overflow"></i>
                    <p class="login_text_mobile solid_1">Login With</p>
                  </a>
                </span>
                <span>
                  <a href="{{ url_for('upload') }}" class="btn_better_alt_mobile round large small-padding">
                    <i class="rounded-0 solid_1 show-overflow">upload</i>
                    <p class="login_text_mobile solid_1">Upload</p>
                  </a>
                </span>
                <span>
                  <a onclick="toggleParticles()" class="btn_better_alt_mobile round large small-padding">
                    <i class="fa-solid fa-hand-sparkles rounded-0 solid_1 show-overflow"></i>
                    <p class="login_text_mobile solid_1">Toggle Particles</p>
                  </a>
                </span>
            {% else %}
              {# Not logged in: only show the login button #}
                <span>
                  <a href="{{ url_for('login') }}" class="btn_better_dsc_mobile round large small-padding">
                    <i class="fab fa-discord rounded-0 solid_2 show-overflow"></i>
                    <p class="login_text_mobile solid_1">Login With</p>
                  </a>
                </span>
            {% endif %}
            </div>
          </nav>
          
          

        <div class="full_height">
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
        </div>
        <div class="full_height" id="particles-js"></div>

        <!-- JavaScript Dependencies -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.7.12/dist/cdn/beer.min.js"></script>
        <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
        <script src="{{ url_for('static', filename='js/particles3.js') }}"></script>
        <script src="{{ url_for('static', filename='js/image.js') }}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
              const hamburger = document.getElementById('hamburger');
              const navMenu = document.getElementById('nav-menu');
          
              hamburger.addEventListener('click', () => {
                // Toggle the 'show' class on the menu
                navMenu.classList.toggle('show');
              });
            });
          </script>
          <script>
            function toggleParticles() {
              var div = document.getElementById('particles-js');
              if (div) {
                div.style.display = div.style.display === 'none' ? 'block' : 'none';
              }
            }
          </script>
        {% block extra_js %}{% endblock %}
    </body>
</html>
