{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <article class="col-md-8 round border small-blur" style="background-color: #ffffff05;">
            <div class="text-light">
                <div class="card-header">
                    <h4 class="mb-0 styled_font">Login To Your Account</h4>
                </div>
                <div class="card-body">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <form method="POST" action="{{ url_for('login_username') }}" enctype="multipart/form-data" id="uploadForm">
                        <div class="position-relative responsive form-group mt-3 no-scroll">
                        <div class="group-inputs mb-4 p-3 border round">
                            <div class="form-group mt-3">
                                <label class="font-weight-bold large-text" for="username">
                                    <div class="text-nowrap donot-wrap-text fancy-text" nowrap><p>Username:</p></div>
                                </label>
                                <input type="text" 
                                    class="form-control bg-dark text-light field textarea bg-dark border round min" 
                                    name="username"
                                    id="username"
                                    placeholder="Enter your username"
                                    required>
                            </div>
                            
                            <div class="form-group mt-3">
                                <label class="font-weight-bold large-text">
                                    <div class="text-nowrap donot-wrap-text fancy-text" nowrap><p>Password:</p></div>
                                </label>
                                <input type="password" 
                                    class="form-control bg-dark text-light field textarea bg-dark border round min" 
                                    name="password"
                                    for="password"
                                    placeholder="Your password" 
                                    required>
                            </div>
                        </div>
                        <p class="center-align left-align">Need an account? <a href="{{ url_for('register_username') }}">Register here</a></p>
                        <br>
                        <button type="submit" class="responsive fill round border" id="submitButton">
                            <i class="no-round me-2">login</i>Login
                        </button>
                    </form>
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock %}